* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

nav.navbar a.navbar-brand {
  font-family: 'Cinzel', serif;
}

nav.navbar ul li a.nav-link {
  font-family: 'Raleway', sans-serif;
}

div#message {
  opacity: 1;
  margin-top: 55px;
}

div.container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container h1 {
  font-family: 'Cinzel', serif;
}

div.container hr.styles {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.container form {
  width: 100%;
  margin: 0 auto;
}

div.container form div.form-group.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container div#table {
  width: 80%;
  margin: 0 auto;
}

div.container div#table h1 {
  text-align: center;
  font-family: 'Cinzel', serif;
}

div.container div#table div.scrollit {
  overflow: auto;
  height: 250px;
}

div.container div#table table thead tr th {
  font-family: 'Lora', serif;
}

div.container div#table table tbody tr td {
  font-family: 'Montserrat Alternates', sans-serif;
}
